
.text-rsk-white {
  color: #F6F6F6;
}

.text-rsk-bank {
  color: #0A6E9E;
}

.bg-rsk-bank {
  background-color: #0A6E9E;
  color: #F6F6F6;
}

.bg-rsk-bank-white {
  background-color: #F6F6F6;
  color: #0A6E9E;
}

.cursor-pointer {
  cursor: pointer;
}
